# Created by .ignore support plugin (hsz.mobi)

/node_modules
/_v2/LeapSDK/.idea
/_v2/LeapSDK/docs
/.idea/
/.idea/leapmotion.iml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/copyright/
